html{
  background-image:url("http://hivewallpaper.com/wallpaper/2015/01/hd-real-space-wallpapers-24-desktop-wallpaper.jpg");
}
  h1{
  font-family:"Papyrus";
  font-size:65px;
  color:#dadcdd;
  text-align:center;
  text-shadow: 4px 4px 4px #000;
}
p {
  font-family:"Papyrus";
  font-size:30px;
  color:#dadcdd;
  text-align:center;
  text-shadow: 4px 4px 4px #000;
}
