body{
  background-image:url("http://img0.mxstatic.com/wallpapers/8ebdae826cabab5f608f47ffaa9bd96a_large.jpeg");
  background-color:black;
}

h1{
  font-family:"Karmatic Arcade";
  text-align:center;
  font-size:75px;
}
p{
  font-family:"Karmatic Arcade";
  text-align:center;
  font-size:50px;
  font-weight:bold;
}
